//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.top-nav.navbar-fixed-top
      div.container
        a.top-nav--logo-link(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/")
          h3.heading.left MightyHive 
            span.top-nav--logo-wdc MightyCreative
        nav.top-nav--nav
          li.top-nav--nav-item
            a(href="http://mightydesk.mightyhive.com") MightyDesk
          li.top-nav--nav-item
            a(href="http://www.mightyhive.com") MightyHive.com
    div.row.header
      div.container
        div.col-lg-10.col-md-10.col-sm-10.col-xs-12.dialog-description
          h1(style="font-size:50px;").service-title MightyCreative
          p MightyCreative uses linguistic analysis to evaluate 5 core personality traits that can be derived from the text of your landing page or a body of text.